<% @matchups.all.each do |m| %>

	<% if m.ats_winner.length == 0 %>

		<% matchup = m.fav + " " + m.spread + " " + m.dog %>

		<div><%= link_to matchup, edit_matchup_path(m.id) %> </div>

	<% end %>

<% end %>