/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hide{

 	display: none;
 }

#log_in{

	height: 100%;
	width: 100%;
	border: 1px solid red;
}

.selec{

	display: inline-block;
	vertical-align: top;
	margin-left: 20%;
	margin-top: 10%;
	font-size: 27px;
	color: red;
}

#selec_head{

	font-size: 35px;
	margin-top: 8%;
	width: 100%;
	height: 100%;
	margin-left: 30%;
}

#sub_selec{

	margin-top: 8%;
	margin-left: 33%;
	height: 100%;
	width: 15%;
	font-size: 20px;
	background: black;
	color: white;
}

#tot_selec{

	margin-top: 8%;
	margin-left: 33%;
	height: 100%;
	width: 15%;
	font-size: 20px;
	background: black;
	color: white;
}

#ovr_selec{

	margin-left: 25%;
}

.probe_form{

	margin-top: 10%;
	margin-left: 5%;
	height: 100%;
	width: 40%;
	font-size: 25px;
	display: inline-block;
	vertical-align: top;


}

.probe_input{

	height: 100%;
	width: 40%;



}

.probe_submit{


}

.probe_list{

	display: inline-block;
	vertical-align: top;
	margin-top: 10%;
	margin-left: 5%;
	height: 100%;
	width: 40%;
	font-size: 30px;

}

#probes_cont{

	height: 100%;
	width: 100%;
}

#probe_banner{

	margin-top: 5%;
	height: 100%;
	width: 100%;
	font-size: 30px;
	background: navy;
	color: white;
}

#data_cont{

	margin-bottom: 3%;
	margin-top: 3%;
	border: 3px solid black;
	height: 100%;
	width: 100%;
	background: gray;
}

#input_boxes{

	height: 100%;
	width: 100%;
	border: 1px solid red;
	margin: auto;
	margin-top: 10%;
	text-align: center;


}

#sport{



}

#situation{


}

#tag_sub{


}

#heading{

	height: 100%;
	width: 100%;
	font-size: 40px;
	background: navy;
	text-align: center;
	margin-top: 5%;
	color: white;

}

#sec_heading{

	height: 100%;
	width: 100%;
	font-size: 37px;
	background: green;
	text-align: center;
	color: white;
}

#tre_heading{

	height: 100%;
	width: 100%;
	font-size: 34px;
	background: red;
	text-align: center;
	color: white;	

}

#four_heading{

	height: 100%;
	width: 100%;
	font-size: 31px;
	background: purple;
	text-align: center;
	color: white;	

}

#five_heading{

	height: 100%;
	width: 100%;
	font-size: 28px;
	background: orange;
	text-align: center;
	color: white;	

}

#choices{

	height: 100%;
	width: 75%;
	background: gray;
	color: black;
	margin: auto;
	font-size: 25px;
	margin-top: 5%;
}

.the_sports{

	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: darkgreen;
	margin-right: 5%;
	margin-left: 5%;

}

#sport_label{

	height: 100%;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: black;
	text-align: center;


}

#sport_cont{

	height: 100%;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	
	text-align: center;
	margin-top: 3%;
}

#search_situations{

	height: 100%;
	width: 100%;



}

.the_situations{

	height: 100%;
	width: 23%;
	display: inline-block;
	vertical-align: top;
	margin-top: 2%;
	color: darkblue;
	

}

#situation_label{

	height: 100%;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: black;
	text-align: center;
	margin-top: 5%;


}